[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Server framework
aiohttp = "~=3.8"
# Recommended replacements for certain aiohttp components, for improved performance
cchardet = "*"
aiodns = "*"
# To support development .env files
python-dotenv = "*"
# JWT support for AIO HTTP
aiohttp-jwt = "*"
# Filesystem watcher
watchdog = "~=2.1.6"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
server = "python starling-capture-api/main.py"
