[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Server framework
aiohttp = "~=3.8"
# Recommended replacements for certain aiohttp components, for improved performance
aiodns = "*"
# To support development .env files
python-dotenv = "*"
# JWT support for AIO HTTP
aiohttp-jwt = "*"
# Filesystem watcher
watchdog = "~=2.1.6"
# For making HTTP requests
requests = "~=2.26"
# For reverse geocoding of lat/longs
geocoder = "~=1.38"
# For date parsing and manipulation
python-dateutil = "~=2.8"
pycryptodome = "~=3.14.1"

[dev-packages]
### Development-only packages ###
### To install default and dev packages: pipenv install --dev
# For automatic Python file formatting
black = "*"
# For automated testing
pytest = "*"
# For mocking in tests
pytest-mock = "*"
pytest-env = "*"

[requires]
python_version = "3.9"

[scripts]
# Automatically formats all Python files
autoformat = "black starlingcaptureapi"
# Starts the server
server = "python main.py"
