[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Server framework
aiohttp = "~=3.8"
# Recommended replacements for certain aiohttp components, for improved performance
cchardet = "*"
aiodns = "*"
# To support development .env files
python-dotenv = "*"
# JWT support for AIO HTTP
aiohttp-jwt = "*"
# Filesystem watcher
watchdog = "~=2.1.6"
# For making HTTP requests
requests = "~=2.26"

[dev-packages]
### Development-only packages ###
### To install default and dev packages: pipenv install --dev

# For automatic Python file formatting
black = "*"
# For automated testing
pytest = "*"

[requires]
python_version = "3.9"

[scripts]
# Automatically formats all Python files
autoformat = "black starlingcaptureapi"
# Starts the server
server = "python starlingcaptureapi/main.py"
